---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/188091757763?access_token=CAAVAaohiQCsBAPslz1wJ28G9ZAr0oZAwnOVXWQUdVLRi3Xiue7FgrVa0xiGAeAHGEbWqyV8iGYDZAGR62J6Eg1dsRAi86MDX72Q4NZAb0RAebp7I6ZAPshqIyZC62kIJ8Jaff3Y0tdbxJkDuLZBl5J1poHv7PgZCnztOFdcdanfLRPgT4mErotLBmF0ELMGIRmVQ6iYLjhG0Yqcl9AHe4WMT
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Facebook-Api-Version:
      - v2.1
      Etag:
      - '"055f1b78f4ce27e30e2e9863c9d29fea94418062"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"188091757763","about":"Connecting 71.251.932 people on Facebook
        and Twitter. We are a Preferred Marketing Developer. Contact us: info\u0040tigerlilyapps.com","awards":"Best
        Web App at the Facebook Mobile Hack - London 2012\nSilver Award LeWeb09\nWinner
        Mini SeedCamp 2010\nFinalist SeedCamp 2010","can_post":true,"category":"Internet\/software","category_list":[{"id":"358483060859947","name":"Startup"},{"id":"152142351517013","name":"Corporate
        Office"}],"checkins":254,"cover":{"cover_id":"10152119553822764","offset_x":0,"offset_y":0,"source":"https:\/\/fbcdn-sphotos-b-a.akamaihd.net\/hphotos-ak-xpa1\/v\/t1.0-9\/s720x720\/1503977_10152119553822764_108979917_n.png?oh=12bd91c19c884632192146c59c72bc48&oe=54C8C174&__gda__=1419038924_7c104e4a1bdb88aa2004c858e2ae1bc2"},"description":"Social
        Media Management Made easy.\n\nWe help you optimize and streamline your business
        actions with our amazingly simple Social Media Management Software.\n\nWorking
        with more than 80 iconic brands, the company has run campaigns across 60 countries
        and serving 72 million people.\n","founded":"2009","has_added_app":false,"is_community_page":false,"is_published":true,"likes":10951,"link":"https:\/\/www.facebook.com\/Tigerlilyapps","location":{"city":"Paris","country":"France","latitude":48.851546070062,"longitude":2.3764281178548,"street":"94
        avenue Ledru Rollin","zip":"75011"},"mission":"The Tigerlily software helps
        iconic brands grow their business through social media. \n\nOptimize your
        conversations, engage users trough rich contents or contests and analyze your
        performances.\n\n","name":"Tigerlily","parking":{"lot":0,"street":0,"valet":0},"phone":"+
        33 1 82 28 38 61","products":"The Social Marketing Platform\nA powerful dashboard
        to manage all your social media campaigns according to your needs.\n\nConversations\nOptimize
        monitoring and posting across Facebook & Twitter.\nAutomate monitoring to
        filter and dispatch user contents efficiently. Optimize topics, post types
        and timing of your posts based on relevant KPIs and identify precisely how
        active and influential your users are.\n\nApplications\nCreate unique social
        apps to maximize impressions, acquisitions, conversions and even PR.\nCreate
        and manage apps that delivers on your goals. Localize and geotarget your campaigns
        and access users profiles, detailed insights including Google analytics.\n\nInsights\nAccess
        actionable metrics that helps you boost your performance dramatically.\nAccess
        some simple and accurate reports based on your criteria and private data.
        Enhance your social mix (organic, paid and earned) and compare all your Pages
        and their KPIs.","talking_about_count":12,"username":"Tigerlilyapps","website":"http:\/\/www.tigerlilyapps.com","were_here_count":254}'
  recorded_at: Sun, 21 Sep 2014 18:04:39 GMT
- request:
    method: get
    uri: https://graph.facebook.com/188091757763/picture?access_token=CAAVAaohiQCsBAPslz1wJ28G9ZAr0oZAwnOVXWQUdVLRi3Xiue7FgrVa0xiGAeAHGEbWqyV8iGYDZAGR62J6Eg1dsRAi86MDX72Q4NZAb0RAebp7I6ZAPshqIyZC62kIJ8Jaff3Y0tdbxJkDuLZBl5J1poHv7PgZCnztOFdcdanfLRPgT4mErotLBmF0ELMGIRmVQ6iYLjhG0Yqcl9AHe4WMT
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: forced.302
    headers:
      Location:
      - https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn2/v/t1.0-1/c41.41.517.517/s50x50/11179_10151833627657764_975049116_n.png?oh=86e3d701c8502f220ffd2465a814e0d3&oe=54C95D6E&__gda__=1422533764_5bba56186a9c529062950b09514f1362
      Facebook-Api-Version:
      - v2.1
      Content-Type:
      - image/jpeg
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 21 Sep 2014 18:04:39 GMT
[...]
- request:
    method: get
    uri: https://graph.facebook.com/188091757763/picture?access_token=CAAVAaohiQCsBAPslz1wJ28G9ZAr0oZAwnOVXWQUdVLRi3Xiue7FgrVa0xiGAeAHGEbWqyV8iGYDZAGR62J6Eg1dsRAi86MDX72Q4NZAb0RAebp7I6ZAPshqIyZC62kIJ8Jaff3Y0tdbxJkDuLZBl5J1poHv7PgZCnztOFdcdanfLRPgT4mErotLBmF0ELMGIRmVQ6iYLjhG0Yqcl9AHe4WMT
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: forced.302
    headers:
      Location:
      - https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn2/v/t1.0-1/c41.41.517.517/s50x50/11179_10151833627657764_975049116_n.png?oh=86e3d701c8502f220ffd2465a814e0d3&oe=54C95D6E&__gda__=1422533764_5bba56186a9c529062950b09514f1362
      Facebook-Api-Version:
      - v2.1
      Content-Type:
      - image/jpeg
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 21 Sep 2014 18:04:49 GMT
recorded_with: VCR 2.9.3
