.header-container {
  padding: 100px 0px 100px 0px;
  h1, h4, #facebook_login_button { text-align: center; }
}

.index-container {
  padding: 100px 0px 100px 0px;
  h3 { text-align: center; }
}

#new_facebook_page {
  input#facebook_id {
    margin-bottom: 1.25rem;
    height: 51px;
  }
}

#stored-pages-container  {
  .facebook-page-item-container {
    display: block;
    img, h3 { display: inline-block; }
  }
}
