body {
  -webkit-font-smoothing: antialiased;
}
.show-page-container {
  .page-headline {
    min-height: 100px;
    .row {
      padding-top: 20px;
      padding-left: 10px;
      a, h2, p { display: inline-block; }
      p { max-width: 650px; }
      h2, p {
        padding-left: 10px;
        vertical-align: middle;
        color: white;
        margin: 0px;
      }
    }
  }
  ul.posts-list {
    min-height: 422px;
    li.page-post {
      display: block;
      margin: 0px;
      &:nth-child(odd) { background: #f6f6f6; }
      &:hover { background-color: rgba(43,94,137, 0.3) }
      .post-container {
        padding: 15px 10px 15px 25px;
        a, p { display: inline-block; }
        p {
          max-width: 500px;
          vertical-align: middle;
        }
        img { max-width: 100px; }
        a { margin-right: 30px; }
        h6 {
          margin: 5px 0px 5px 0px;
          font-size: 0.8em;
          display: block;
        }
      }
    }
  }
}
